/* Para AlpineJS */
[x-cloak] { display: none !important; }

/* CSS Personalizado */

/* Mensaje de error */
.error {
    color: rgb(239 68 68);

}

/* Logo */
.logo {
    animation-name: mi-opacidad;
    animation-duration: 2s;
}

.mi-opacidad {
    animation-name: mi-opacidad;
    animation-duration: 1s;
}

@keyframes mi-opacidad {
    from {opacity: 0;}
    to {opacity: 1;}
}
